<blockheader-component>{{pageParent}}</blockheader-component>

<div class="card">
    <div class="card-header ch-alt">
        <h2>{{pageName}}<small>{{pageDescription}}</small></h2>
    </div>
    
    <table-filter-component (output)="filterData()">
        <textbox-filter-component [id]="'filter1'" [(data)]="filter1" (output)="filter1=$event">Kode Pasien</textbox-filter-component>
        <textbox-filter-component [id]="'filter2'" [(data)]="filter2" (output)="filter2=$event">Nama Pasien</textbox-filter-component>
    </table-filter-component>
    <div class="table-responsive" *ngIf="dataPage">
        <table class="{{tableStyle}}">
            <thead>
                <tr>
                    <th *ngFor="let v of tableHeader">{{v}}</th>
                </tr>
            </thead>
            <tbody *ngIf="dataPage.content.length != 0">
                <tr *ngFor="let val of dataPage.content" class="table-vmiddle {{val.status.cd == 'PAID' ? 'active' : 'info'}}">
                    <td>{{val.createDate | date: 'dd MMMM yyyy'}}</td>
                    <td>{{val.patientAdministrationEntity.patientEntity.name}}</td>
                    <td>{{val.treatmentBodyEntity.name}}</td>
                    <td>{{val.doktercost | number:'.2-2'}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="dataPage.content.length == 0">
                <tr class="table-vmiddle">
                    <td class="text-center" [attr.colspan]="tableHeader.length"><i>{{no_record_found}}</i></td>
                </tr>
            </tbody>
        </table>
        <table-pagination-component [table]="self" [page]="dataPage" [pageData]="paginationData"></table-pagination-component>
    </div>
</div>