<blockheader-component *ngIf="!child">{{pageParent}}</blockheader-component>

<div class="card">
    <div class="card-header ch-alt" *ngIf="!child">
        <h2>{{pageName}}<small>{{pageDescription}}</small></h2>
        <button class="btn bgm-blue btn-float waves-effect" (click)="add(moduleName)"><i class="zmdi zmdi-plus"></i></button>
    </div>
    
    <table-filter-component (output)="filterData()" *ngIf="!child">
        <textbox-filter-component [id]="'filter1'" [(data)]="filter1" (output)="filter1=$event">Kode Registrasi</textbox-filter-component>
        <textbox-filter-component [id]="'filter2'" [(data)]="filter2" (output)="filter2=$event">Nama Pasien</textbox-filter-component>
    </table-filter-component>
    <div class="table-responsive" *ngIf="dataPage">
        <table class="{{tableStyle}}">
            <thead>
                <tr>
                    <th *ngFor="let v of tableHeader">{{v}}</th>
                </tr>
            </thead>
            <tbody *ngIf="dataPage.content.length != 0">
                <tr *ngFor="let val of dataPage.content" class="table-vmiddle">
                    <td>{{val.patientAdministrationEntity.refnoadministrations}}</td>
                    <td>{{val.patientAdministrationEntity.patientEntity.titleEntity.title}} {{val.patientAdministrationEntity.patientEntity.name}}</td>
                    <td>{{val.createDate | date: 'dd MMMM yyyy'}}</td>
                    <td>{{val.functionalityEntity.name}}</td>
                    <td *ngIf="!child">
                        <table-action-component (detail)="detailNew(moduleName, val.id)" (delete)="delete(val.id)" (select)="selectData(val)" [modalFlag]="modal" [detailFlag]="!modal"></table-action-component>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataPage.content.length == 0">
                <tr class="table-vmiddle">
                    <td class="text-center" [attr.colspan]="tableHeader.length"><i>{{no_record_found}}</i></td>
                </tr>
            </tbody>
        </table>
        <table-pagination-component [filter1] = "filter1" [table]="self" [page]="dataPage" [pageData]="paginationData"></table-pagination-component>
    </div>
</div>