<blockheader-component *ngIf="!data">{{pageParent}}</blockheader-component>

<div class="card">
    <form class="form-horizontal" role="form" *ngIf="unit">
        <div class="card-header ch-alt">
            <h2>{{pageName}}<small>{{pageDescription}}</small></h2>
        </div>
        
        <div class="card-body card-padding">
            
            <notification-component [value]="error?.error" [type]="'danger'"></notification-component>

            <textbox-component
                [value] = "data?.name"
                [id] = "'name'"
                [editMode]="true"
                [error] = "error?.fieldErrors"
                (output)="data.name=$event"
            >{{field[0]}}</textbox-component>

            <textbox-component
                [value] = "data.unitEntity?.unit"
                [id] = "'unit'"
                [editMode]="true"
                [error] = "error?.fieldErrors"
                (output)="data.unitEntity=$event"
            >{{field[1]}}</textbox-component>

            <dropdown-component
                [data] = "replaceByName(unit, 'unit')"
                [value] = "unitid"
                [id] = "'unitEntity'"
                [editMode]="false"
                [error] = "error?.fieldErrors"
                (output)="dataContainer.unitEntity=getValueUnit($event)"
            >{{field[2]}} <sup style="color: red; font-size: 1.3em">*</sup></dropdown-component>

            <textbox-component
                [value] = "dataContainer.quantity"
                [id] = "'quantity'"
                [editMode]="editMode"
                [error] = "error?.fieldErrors"
                (output)="dataContainer.quantity=$event"
            >{{field[3]}} <sup style="color: red; font-size: 1.3em">*</sup></textbox-component>

            <textbox-component
                [value] = "dataContainer.price"
                [id] = "'price'"
                [editMode]="editMode"
                [error] = "error?.fieldErrors"
                (output)="dataContainer.price=$event"
            >{{field[4]}} <sup style="color: red; font-size: 1.3em">*</sup></textbox-component>
            
            <div class="form-group m-t-25">
                <div class="pull-right p-r-10">
                    <button-flat-component [color] ="'primary'" [icon]="'floppy'" (click)="submit()">{{newEntry ? text_submit : text_update}}</button-flat-component>
                </div>
            </div>
        </div>
    </form>
</div>