<blockheader-component>{{pageParent}}</blockheader-component>

<div class="card">
    <div class="card-header ch-alt">
        <h2>{{pageName}}<small>{{pageDescription}}</small></h2>
        <button class="btn bgm-blue btn-float waves-effect" (click)="add(moduleName)"><i class="zmdi zmdi-plus"></i></button>
    </div>
    
    <table-filter-component (output)="filterData()">
        <textbox-filter-component [id]="'filter1'" [(data)]="filter1" (output)="filter1=$event">Code</textbox-filter-component>
        <textbox-filter-component [id]="'filter2'" [(data)]="filter2" (output)="filter2=$event">Name</textbox-filter-component>
    </table-filter-component>
    <div class="table-responsive" *ngIf="dataPage">
        <table class="{{tableStyle}}">
            <thead>
                <tr>
                    <th *ngFor="let v of tableHeader">{{v}}</th>
                </tr>
            </thead>
            <tbody *ngIf="dataPage.content.length != 0">
                <tr *ngFor="let val of dataPage.content" class="table-vmiddle">
                    <td>{{val.cd}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.positionEntity?.name}}</td>
                    <td>{{val.sMFEntity?.name}}</td>
                    <td>{{val.inDate | date: 'dd MMMM yyyy'}}</td>
                    <td>
                        <table-action-component 
                            (detail)="detail(moduleName, val.id)" 
                            (delete)="delete(val.id)"
                            [converterFlag]="true"
                            (convert)="modal(val.cd)"
                        ></table-action-component>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataPage.content.length == 0">
                <tr class="table-vmiddle">
                    <td class="text-center" [attr.colspan]="tableHeader.length"><i>{{no_record_found}}</i></td>
                </tr>
            </tbody>
        </table>
        <table-pagination-component [filter1] = "filter1" [filter1] = "filter2" [table]="self" [page]="dataPage" [pageData]="paginationData"></table-pagination-component>
    </div>
</div>

<!-- Modal User Security -->
<div class="modal fade" id="modalWider" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <user-security [data]="tempcd"></user-security>
            </div>
        </div>
    </div>
</div>