<blockheader-component>{{pageParent}}</blockheader-component>

<div class="card">
    <div class="card-header ch-alt">
        <h2>{{pageName}}<small>{{pageDescription}}</small></h2>
    </div>
    
    <table-filter-component (output)="filterData()">
        <textbox-filter-component [id]="'filter2'" [(data)]="filter2" (output)="filter2=$event">Nama Pasien</textbox-filter-component>
    </table-filter-component>
    <div class="table-responsive" *ngIf="dataPage">
        <table class="{{tableStyle}}">
            <thead>
                <tr>
                    <th *ngFor="let v of tableHeader">{{v}}</th>
                </tr>
            </thead>
            <tbody *ngIf="dataPage.content.length != 0">
                <tr *ngFor="let val of dataPage.content" class="table-vmiddle">
                    <td>{{val.patientAdministrationEntity.refnoadministrations}}</td>
                    <td>{{val.patientAdministrationEntity.patientEntity.titleEntity.title}} {{val.patientAdministrationEntity.patientEntity.name}}</td>
                    <td>{{val.createDate | date: 'dd MMMM yyyy'}}</td>
                    <td>{{val.refnomedicine}}</td>
                    <td>{{val.treatmentBodyEntity.name}}</td>
                    <td>IDR {{val.totalCost | number:'.2-2'}}</td>
                    <td>{{val.status.dscp}}</td>
                    <td>
                            <table-action-component 
                                (convert)="detail('medicinerequest', val.id)"
                                [converterFlag]="true"
                                [detailFlag]="false"
                            ></table-action-component>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataPage.content.length == 0">
                <tr class="table-vmiddle">
                    <td class="text-center" [attr.colspan]="tableHeader.length"><i>{{no_record_found}}</i></td>
                </tr>
            </tbody>
        </table>
        <table-pagination-component [filter1] = "filter1" [table]="self" [page]="dataPage" [pageData]="paginationData"></table-pagination-component>
    </div>
</div>